---

---

<section>
  <h1 class="my-8 text-center font-extrabold text-4xl">
    Comments Dashboard
  </h1>
  <p class="text-center text-xl leading-loose">
    Thanks for attending my talk!
    <br />
    Drop a comment, what is your favorite thing about this event?
  </p>
</section>

